.signin-form-panel {
    background-color: white;
    border: 1px dotted gray;
    padding: 20px 40px;
    position: absolute;
    right: 0;
}

.signin-form {
    position: relative;
}

.signin-form .close {
    cursor: pointer;
    position: relative;
    top: -5px;
}
