.signin-form-panel {
    background-color: white;
    border: 1px dotted gray;
    padding: 20px 40px;
    position: absolute;
    right: 0;
    z-index: 1;
}

.signin-form {
    position: relative;
}

.signin-form .close {
    cursor: pointer;
    position: relative;
    top: -5px;
}

.signin-form .email-input.ng-touched.ng-invalid,
.signin-form .password-input.ng-touched.ng-invalid {
    border: solid 1px red;
}

.signin-form .email-input.ng-touched.ng-valid,
.signin-form .password-input.ng-touched.ng-valid {
    border: solid 1px lightgreen;
}

.signin-form button.sign-in-button:enabled {
    background-color: #0059a9;
}

.alert{
    font-size: 0.75em;
    font-style: italic;
    margin-top: 0.5em;
}

@media (min-width: 375px) and (max-width: 767.98px) {

    .signin-form-panel {
        top: 110px;
    }

}

@media (min-width: 768px) and (max-width: 1199.98px) {

    .signin-form-panel {
        max-width: 45%;
    }

}
