.signin-form-panel {
    background-color: white;
    border: 1px dotted gray;
    padding: 20px 40px;
    position: absolute;
    right: 0;
}

.signin-form {
    position: relative;
}

.signin-form .close {
    cursor: pointer;
    position: relative;
    top: -5px;
}

.signin-form .email-input.ng-touched.ng-invalid,
.signin-form .password-input.ng-touched.ng-invalid {
    border: solid 1px red;
}

.signin-form .email-input.ng-touched.ng-valid,
.signin-form .password-input.ng-touched.ng-valid {
    border: solid 1px lightgreen;
}

.signin-form button.sign-in-button:enabled {
    background-color: #007bff;
}

.alert{
    font-size: 0.75em;
    font-style: italic;
    margin-top: 0.5em;
}
