li {
    background-color: #a5d1f9;
    display: flex;
    justify-content: space-between;
    line-height: 2.2em;
    margin-top: 1em;
    padding: 0.5em;
}

li > span {
    border: solid 1px transparent;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    padding: 0 0.75em;
}

li > span:hover {
    border-color: gray;
    cursor: pointer;
}

li .edit-icon {
    margin-left: 1em;
}

li > span:hover .edit-icon {
    color: green;
}

li .edit-input {
    background-color: #c5e3fc;
    line-height: 1;
    width: 50%;
}

li .edit-check {
    -webkit-appearance: none;
    background-color: transparent;
    border-style: none;
}

li .check-icon {
    color: #0059a9;
    cursor: pointer;
    font-size: 2em;
    position: relative;
    top: 6px;
}

.delete-project {
    margin-left: 0.5em;
}

@media (max-width: 767.98px) {
    
    li {
        display: list-item;
        list-style-type: none;
    }

    li div {
        text-align: right;
    }

}
