.projects-list {
    width: 700px;
}

.projects-list li {
    background-color: #a5d1f9;
    display: flex;
    justify-content: space-between;
    line-height: 2.2em;
    margin-top: 1em;
    padding: 0.5em;
}

button.new-project {
    background-color: #0059a9;
}

.delete-project {
    margin-left: 0.5em;
}

.alert-danger {
    margin-top: 1em;
    min-width: 300px;
    width: 50%;
}
