<div *ngIf="isLoggedIn">
  <section class="projects empty" *ngIf="!hasProjects() && !errorState()">
    <h3>You don't have any projects yet.</h3>
  </section>
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>

  <section class="projects" *ngIf="hasProjects()">
    <h3>My Projects</h3>
    <button
    mat-raised-button
    color="primary"
    class="new-project"
    (click)="createProject()">Create a new project</button>
    <ul class="projects-list">
      <li *ngFor="let project of projects">
        <span class="project-name">{{ project.name }}</span>
        <div>
          <button
            mat-raised-button
            class="edit"
            (click)="editVersionNames(project)">Edit version names</button>
          <button
            mat-raised-button
            color="warn"
            class="delete-project"
            (click)="openConfirmDialog(project)">Delete</button>
        </div>
      </li>
    </ul>
  </section>
</div>
<div *ngIf="!isLoggedIn">
  You must be signed in to view your projects.
</div>
<app-spinner *ngIf="loading"></app-spinner>
