.not-logged-in-container {
    min-height: 220px;
    background: url(/assets/images/whereare.png) center bottom no-repeat;
}

.projects-list {
    width: 700px;
}

button.new-project {
    background-color: #0059a9;
    margin: 0.75em 0;
}

.alert-danger {
    margin-top: 1em;
    min-width: 300px;
    width: 50%;
}
