body {
    font-family: 'Noto Sans', sans-serif;
}

header {
    padding-bottom: 60px;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
}

.page-container {
    position: relative;
}

.well.logged-in {
    position: absolute;
    right: 20px;
    top: 3px;
}

.link {
    color: #007bff;
    cursor: pointer;
}

.link:hover {
    color: #0056b3;
}

.mat-button.mat-primary.logout-link {
    color: #007bff;
    margin-left: 10px;
    position: relative;
    top: -1px;
}

.mat-button.mat-primary .mat-button-focus-overlay {
    background-color: rgba(0,0,0,0.08);
}
