body {
    font-family: 'Noto Sans', sans-serif;
}

header {
    padding-bottom: 40px;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    position: relative;
    top: 0.75em;
}

.page-container {
    position: relative;
}

.well.logged-in {
    position: absolute;
    right: 20px;
    top: 3px;
}

.link {
    color: #0059a9;
    cursor: pointer;
}

.link:hover {
    color: #0056b3;
}

.mat-button.mat-primary.logout-link {
    color: #0059a9;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    margin-left: 10px;
    position: relative;
    top: -1px;
}

.mat-button.mat-primary .mat-button-focus-overlay {
    background-color: rgba(0,0,0,0.08);
}

@media (max-width: 991.98px) {
    
    .header h1 {
        padding-top: 0.5em;
    }

}
