<div class="container page-container">
  <header class="header">
      <h1>{{ title }}</h1>
      <utility-navigation></utility-navigation>
      <navigation></navigation>
      <div class="well logged-in" *ngIf="loggedIn()">
        Logged in as <b>{{ authService.getUsername() }}</b>
        <button class="btn btn-light link logout-link" (click)="logout()">Log out</button>
      </div>
      <router-outlet name="signin"></router-outlet>
  </header>
  <main>
      <router-outlet></router-outlet>
  </main>
</div>
