:host {
    position: absolute;
    right: 360px;
    top: 0;
}

li {
    border-radius: 4px;
}

li.active {
    background-color: #fff;
}

@media (max-width: 545px) {
    :host {
        left: 15px;
        right: auto;
    }
}
