/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    padding-bottom: 40px;
}

.required-note {
    font-style: italic;
}

.input-note {
    color: gray;
    display: inline-block;
    font-size: 0.75em;
    line-height: 1.25;
}

@media (max-width: 575.98px) {

    .delete-dialog .mat-dialog-container .mat-dialog-title {
        font-size: 18px;
        margin: 0 0 12px;
    }
}
