h3 {
    margin: 0.5em 0 1.25em;
}

.success-container {
    align-items: center;
    bottom: 0;
    display: flex;
    left: 0;
    justify-content: center;
    margin: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}

.success-container .mask {
    background-color: #fff;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
}

.success-modal {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 6px 6px 23px -2px rgba(0,0,0,0.5);
    height: 160px;
    padding: 20px;
    position: absolute;
    width: 490px;
}

.password-container {
    position: relative;
}
.password-container .password-field {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.strength-check {
    box-sizing: content-box;
    color: white;
    display: none;
    font-size: 0.75em;
    font-style: italic;
    width: 150px;
    height: 20px;
    opacity: 0.7;
    padding: 2px 0 2px 12px;
}

.strength-check.weak {
    background-color: #B20E37;
    display: block;
}

.strength-check.medium {
    background-color: goldenrod;
    display: block;
}

.strength-check.strong {
    background-color: #399800;
    display: block;
}

.register-form input {
    width: 240px;
}

.register-form button.mat-primary:enabled {
    background-color: #0059a9;
}

.register-form .password-toggle-button {
    border-bottom-left-radius: 0;
    border-color: gray;
    border-top-left-radius: 0;
    height: 38px;
    left: 240px;
    position: absolute;
    top: 24px;
}

.alert-danger {
    margin-top: 1em;
}

input[type=password]::-ms-reveal {
    display: none;
}
