<h2>Create a New Project</h2>
<div *ngIf="isLoggedIn">
  <section class="projects new-project" *ngIf="projectCreationState==='precreate'">
    <div class="container col-md-6 new-project-form">
      <form [formGroup]="projectForm" class="needs-validation" (ngSubmit)="createProject(projectForm)">
        <div class="form-group">
          <label for="project_name" class="control-label">Project name: <br />
            <input
              type="text"
              class="form-control"
              #projectname
              id="project_name"
              [formControl]="projectForm.controls['projectname']"
            >
          </label>
        </div>
        <button
        mat-raised-button
        color="primary"
        [disabled]="projectForm.invalid"
        type="submit"
        class="create-project">Create Project</button>
      </form>
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
    </div>
  </section>
</div>
<div *ngIf="!isLoggedIn">
You must be signed in to create a new project.
</div>
<app-spinner *ngIf="loading"></app-spinner>
